@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

:root{
    font-family: "Quicksand", sans-serif;
}

.active {
    background-color: #e1e6ee;
    border-color: #b1baca;

}